.bg-cl{
    background-color: #1D3557;
}
h2,h4{
    text-align: center;
}
.border-box{
    border: 1px solid black;
    padding: 1.5em 3em;
    margin: 5%;
}
.dark-bg{
    background-color: #1d3557;
    margin: 5%;
}


















